body {
  font-family: sans-serif;
}
#container{
  display: flex;
  justify-content: space-evenly;
}

#sx{
border: 1rem;


}


#item{
  margin-bottom: 0.1rem;
  
}
#data{
  margin-bottom: 0.1rem;
  margin-top: 1rem;
  

}

#btn{
 margin-top: 0.5rem;
 border: 1px solid rgba(10, 112, 153, 0.904);
 float: right;
 color: rgba(10, 112, 153, 0.904);
 border-radius: 5%;
}

#input1{
  width: max-content;
  width: 100%;
  box-sizing: border-box;
}
#input2{
  width: max-content;
  width: 100%;
  box-sizing: border-box;
}

.task{
  list-style: none;
}

.classeXSbarrare{
  text-decoration: line-through;
}

